<!--購入履歴画面-->
<!--修正1/15-->

<!--修正1/20-->
<!--トップへ移動-->

<!--本の画像、タイトル、値段、個数、日付-->

<!--タイムリーフ追加　小野-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<link rel="stylesheet" type="text/css"th:href="@{/css/history.css} ">
	
	<meta charset="UTF-8">
	<title>購入履歴</title>
</head>

<body>
	<header class="header">

		<div class="book-container">
						    <a href="product.html" class="book">Book Super Market</a>
						</div>	
	</header>
	<h2>購入履歴</h2>
	<div class="books-container">
		<div th:each="purchaseHistory : ${purchaseHistory}" class="book-item">
			<div class="book-header">
				<div class="book-date" th:text="${purchaseHistory.date}"></div>
				<img  class="book-image" th:src="${purchaseHistory.imageaddress}" alt="商品画像" style="max-width: 100px; max-height: 100px; margin-bottom: 10px;">
					

				<div class="book-info">
					<h2 class="book-title" th:text="${purchaseHistory.title}"></h2>
					<div class="book-quantity">
						<div class="quantity-container">

							<div class="quantity-display">
								<span th:text="${purchaseHistory.itemNum} + '個'" id="quantity-value"></span>
							</div>
						</div>

					</div>
				</div>

				<div class="book-subtotal" th:text="'小計 ￥' + ${purchaseHistory.subtotal} + '円'"></div>
			</div>
		</div>
		</div>
		
	

	<div class="purchase-container">
		    <a href="product.html">
		        <button class="purchase-button">トップページへ</button>
		    </a>
		</div>
</body>

</html>