<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.admin.repository.AdminMapper">
	<resultMap id = "AdminMap" type="com.example.demo.admin.entity.Admin">
		<result column="admin_id"   jdbcType="INTEGER" property="adminId"   />
		<result column="admin_name" jdbcType="VARCHAR" property="adminName" />
		<result column="admin_pass" jdbcType="VARCHAR" property="adminPass" />
		
	</resultMap>
	
	<select id = "findById" resultMap="AdminMap">
		select * from admin_id where admin_id = #{id}
	</select>
	
	
</mapper>
