<!DOCTYPE html>
<!-- 購入完了画面-->

<!DOCTYPE html>
<html lang="ja">


<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/confirmation.css}">
	<meta charset="UTF-8">
	<title>book</title>
</head>

<body>
	<header class="header">

		<div class="book-container">
			<p class="book">book Super Market</p>
		</div>

	</header>
	<main class="main-content">
		<div class="order-complete-container">
			<h1 class="order-complete-title">注文完了</h1>
			<p class="order-complete-message">
				商品は○日以内に発送いたします。<br>
				ご購入ありがとうございました！
			</p>
		</div>

		<a href="#" class="top-page-button">トップページへ</a>
	</main>

</body>

</html>