<!DOCTYPE html>
<!-- 購入確認画面-->

<html lang="ja">


<head>
	<link rel="stylesheet" type="text/css" href="ordercheck.css">
	<meta charset="UTF-8">
	<title>book</title>
</head>

<body>
	<header class="header">

		<div class="book-container">
			<p class="book">book Super Market</p>
		</div>

	</header>

	<div class="books-container">
		<div class="book-item">
			<div class="book-header">
				<label for="bookCheckbox" class="checkbox-label"></label>
				<img src="https://th.bing.com/th/id/OIP.Xi6nAT_M0Hr-UyDqNh_taAHaIw?w=170&h=201&c=7&r=0&o=5&dpr=1.3&pid=1.7"
					alt="本の画像" class="book-image">
				<div class="book-info">
					<h2 class="book-title">ごんぎつね</h2>
					<div class="book-quantity">
						<div class="quantity-container">

							<div class="quantity-display">
								<span id="quantity-value">1</span>
							</div>

							<span class="quantity-unit">個</span>
						</div>

					</div>
				</div>

				<div class="book-subtotal">小計 ￥500円</div>
			</div>
		</div>

		<div class="book-item">
			<div class="book-header">
				<label for="bookCheckbox2" class="checkbox-label"></label>
				<img src="https://th.bing.com/th/id/OIP.Xi6nAT_M0Hr-UyDqNh_taAHaIw?w=170&h=201&c=7&r=0&o=5&dpr=1.3&pid=1.7"
					alt="本の画像" class="book-image">
				<div class="book-info">
					<h2 class="book-title">銀河鉄道の夜</h2>
					<div class="book-quantity">
						<div class="quantity-container">

							<div class="quantity-display">
								<span id="quantity-value2">1</span>
							</div>
							<span class="quantity-unit">個</span>
						</div>
					</div>
				</div>
				<div class="book-subtotal">小計 ￥600円</div>
			</div>
		</div>
	</div>
	<div class="total-container">
		<p class="total-price">合計: ￥1,100円</p>
	</div>

	<div class="shipping-payment-container">
		<p class="shipping-address">発送先：○○県○○市○○区○○</p>
		<div class="payment-method">
			<p>支払い方法：</p>
			<div class="radio-group">
				<label>
					<input type="radio" name="payment" value="cod">
					代引き
				</label>
				<label>
					<input type="radio" name="payment" value="credit">
					クレジットカード
				</label>
				<label>
					<input type="radio" name="payment" value="new-credit">
					新規クレジットカード
				</label>
			</div>
		</div>
		<div class="card-number-input">
			<input type="text" id="card-number" placeholder="番号入力">
		</div>
	</div>


	<div class="purchase-container">
		<button class="purchase-button cancel-button">キャンセル</button>
		<button class="purchase-button">購入</button>
	</div>

</body>

</html>