<!--ログイン画面-->
<!--修正1/15-->

<!--修正1/17-->
<!--キャンセル-->
<!--ログイン-->
<!--新規登録-->

<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/user-login.css}">
	<title>ログイン</title>
</head>

<body>
	<header class="header">

		<div class="book-container">
						    <a href="product.html" class="book">Book Super Market</a>
						</div>


	</header>
	<div class="content-container">
		<h1>ログイン</h1>
		<form action="/user/authenticate" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<div class="form-group">
				<label for="username">ユーザー名:</label>
				<input type="text" id="username" name="username" required>
			</div>
			<br>
			<div class="form-group">
				<label for="password">パスワード:</label>
				<input type="password" id="password" name="password" required>
			</div>
			<br>
			<div class="button-group">
						    <a href="logout.html" class="cancel-button">キャンセル</a>
						    <a href="product.html" class="login-button">ログイン</a>
						</div>
		</form>
		<a href="register.html">新規登録はこちら</a>
	</div>
</body>

</html>