@charset "UTF-8";
/* ヘッダー全体のスタイル */
.header {
    width: 100%; /* 幅を100%に指定 */
    margin: 0 auto; /* 水平方向の中央揃え */
    padding: 20px; /* 内側の余白 */
    text-align: center; /* テキストを中央揃え */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* シャドウ効果 */
    position: fixed; /* 相対位置に設定 */
    top: 0; /* 上部に配置 */
    left: 0; /* 左端に配置 */
    box-sizing: border-box; /* ボックスモデルの設定 */
}

/* 本のコンテナのスタイル */
.book-container {
    background-color: #4A90E2; /* 背景色 */
    max-width: 400px; /* 最大幅 */
    margin: 0 auto; /* 中央揃え */
}

/* 本のタイトルのスタイル */
.book {
    font-family: 'Arial', sans-serif; /* フォントファミリー */
    font-size: 2.5em; /* フォントサイズ */
    color: #FFFFFF; /* テキストカラー */
    letter-spacing: 2px; /* 字間を広げる */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* テキストシャドウ */
    margin: 0; /* マージンをリセット */
}


/* Admin.css */

/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ボディのスタイル */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* ビューポートの高さに合わせる */
}

/* コンテナのスタイル */
.content-container {
    background-color: white;
    border-radius: 8px; /* 角を丸くする */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* シャドウ効果 */
    padding: 40px; /* 内側の余白 */
    width: 300px; /* 幅を指定 */
}

/* 見出しのスタイル */
h1 {
    margin-bottom: 20px; /* 下部余白 */
    font-size: 24px; /* フォントサイズ */
    text-align: center; /* 中央揃え */
}

/* ラベルと入力フィールドのスタイル */
label {
    margin-bottom: 5px; /* 下部余白 */
    display: block; /* ブロック要素にして縦に並べる */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* 幅を100%にして親要素に合わせる */
    padding: 10px; /* 内側の余白 */
    margin-bottom: 15px; /* 下部余白 */
    border-radius: 4px; /* 角を丸くする */
    border: 1px solid #ccc; /* 薄い灰色のボーダー */
}

/* ボタンのスタイル */
button {
    background-color: #4CAF50; /* 緑色 */
    color: white; /* テキスト色を白にする */
    border: none; /* ボーダーなし */
    padding: 10px; /* 内側の余白 */
    border-radius: 4px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変える */
    width: 100%; /* 幅を100%にする */
}

button:hover {
    background-color: #45a049; /* ホバー時の色変更 */
}

/* リンクのスタイル */
a {
    display: block; /* ブロック要素として配置する */
    text-align: center; /* 中央揃えにする */
    margin-top: 15px; /* 上部余白 */
    color: #4CAF50; /* 緑色でリンクを表示する */
}

a:hover {
    text-decoration: underline; /* ホバー時に下線を引く */
}
