@charset "UTF-8";

/*変えない*/
body {
	margin: 0;
	padding: 20px;
}

/*タイトル*/
.book-container {
	flex-grow: 1;
	background-color: skyblue;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	margin-bottom: 40px;
}

.book-container a {
	text-decoration: none;
}


.book {
	margin: 0;
	padding: 10px;
	font-weight: bold;
	font-size: 50px;
	color: white;
	cursor: pointer;

}

/*注文完了画面*/
.main-content {
	max-width: 800px;
	margin: 40px auto;
	text-align: center;
}

.order-complete-container {
	border: 2px solid #333;
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 40px;
}

/*注文完了*/
.order-complete-title {
	font-size: 32px;
	margin-bottom: 20px;
}

/*購入メッセージ*/
.order-complete-message {
	font-size: 18px;
	line-height: 1.5;
}

/*トップページへボタン*/
.purchase-container {
	max-width: 800px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	gap: 40px;
	text-align: center;

}

.purchase-button {
	background-color: rgb(0, 128, 255);
	color: white;
	padding: 15px 50px;
	font-size: 24px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	width: 300px;
	flex-shrink: 0;
	 font-weight: bold;
}

.purchase-button:hover {
	background-color: rgb(0, 98, 196);
	transform: scale(1.05);
}

.purchase-button:active {
	transform: scale(0.98);
}