@charset "UTF-8";

/*変えない*/
body {
	margin: 0;
	padding: 20px;
}

/*タイトル*/
.book-container {
	flex-grow: 1;
	background-color: skyblue;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	margin-bottom: 40px;
}

.book {
	margin: 0;
	padding: 10px;
	font-weight: bold;
	font-size: 50px;
	color: white;
}

/*注文完了画面*/
.main-content {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

.order-complete-container {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 40px;
}

/*注文完了*/
.order-complete-title {
    font-size: 32px;
    margin-bottom: 20px;
}

/*購入メッセージ*/
.order-complete-message {
    font-size: 18px;
    line-height: 1.5;
}

/*トップページへのボタン*/
.top-page-button {
    display: inline-block;
    background-color: skyblue;
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.top-page-button:hover {
    background-color: deepskyblue;
}