@charset "UTF-8";

/*変えない*/
body {
	margin: 0;
	padding: 20px;
}

/*タイトル*/
.book-container {
	flex-grow: 1;
	background-color: skyblue;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	margin-bottom: 40px;
}

.book {
	margin: 0;
	padding: 10px;
	font-weight: bold;
	font-size: 50px;
	color: white;
}

/*ヘッダー*/
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}


.header-img {
	width: 100px;
	height: auto;
	margin: 0px;
	padding: 10px
}

/*メニューリスト*/
.menu-container {
	cursor: pointer;
}

.menu-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

}

.menu-list.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu-list ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu-list li {
	padding: 5px 0;


}

.menu-list li a {
  text-decoration: none;
  color: #000;
  transition: color 0.1s ease;
}

.menu-list li a:hover {
  color: rgb(0, 128, 255);
  cursor: pointer;
}

/*検索*/
.search-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

form {
	display: flex;
	gap: 10px;
}

/*検索ボタン*/
input[type="search"] {
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type="submit"] {
	padding: 5px 10px;
	font-size: 16px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}




/*本のブロック*/
.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}

.book-details {
	text-align: center;
	max-width: 600px;
	width: 100%;
}

/*本のタイトル*/
.book-title {
	font-size: 24px;
	margin-bottom: 20px;
}

/*本の画像*/
.book-image {
	max-width: 300px;
	height: auto;
}

/*詳細など*/
.book-description {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

/*詳細*/
.description-title {
  text-align: left;
  margin-bottom: 10px;
}

/*詳細内容*/
.description-content {
  text-align: left;
  line-height: 1.6;
}

/*数量などのブロック*/
.product-actions {
  display: flex;
  align-items: center;
  gap: 20px; /* ボタン間の間隔を増やす */
  width: 100%; /* コンテナの幅を100%に設定 */
  max-width: 800px; /* 最大幅を設定（必要に応じて調整） */
  margin: 30px auto 0; /* 中央揃え */
  
}

.quantity-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.quantity-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  height: 80px;
}

/*数量*/
.quantity-label {
  font-size: 14px;
}

/*個数*/
#quantity-value {
  font-size: 24px;
  font-weight: bold;
}

/*数量変更ボタン*/
.quantity-buttons {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  margin-left: 5px;
}

.quantity-up,
.quantity-down {
  width: 30px;
  height: 38px;
  font-size: 16px;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
}

.quantity-up:hover,
.quantity-down:hover {
  background-color: #e0e0e0;
}

/*ボタン*/
.action-button {
  height: 80px;
  flex-grow: 1; /* ボタンを横長に */
  max-width: 300px; /* ボタンの最大幅を設定（必要に応じて調整） */
  padding: 0 20px;
  font-size: 18px; /* フォントサイズを少し大きく */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border-color 0.3s;
}

/*カートに追加ボタン*/
.add-to-cart {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.add-to-cart:hover {
  background-color: #45a049;
  border-color: #45a049;
}

/*ほしいものリストボタン*/
.add-to-wishlist {
  background-color: #2196F3;
  border-color: #2196F3;
}

.add-to-wishlist:hover {
  background-color: #1e87db;
  border-color: #1e87db;
}

/*レビュー*/
.review-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px 0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
}

.review {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.reviewer-name {
  color: #666;
  margin-bottom: 5px;
}

.review-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.review-content {
  line-height: 1.6;
}

.review-icon {
  background-color: yellow;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  
}

.write-review-btn {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.write-review-btn:hover {
  background-color: #e0e0e0;
}

/*フッター(カテゴリ)*/
footer {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 100px;
}

.footer-categories {
  margin-bottom: 20px;
}

.footer-categories h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-categories ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-categories li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer-categories li a {
  text-decoration: none;
  color: #000;
  transition: color 0.1s ease;
}

.footer-categories li a:hover {
  color: rgb(0, 128, 255);
  cursor: pointer;
}

/*ダイアログ(カート)*/
.dialog {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.dialog-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 500px;
  text-align: center;
  position: relative;
  border-radius: 8px; /* 角を少し丸くする */
   box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* シャドウを追加してより目立たせる */
}

/*ダイアログメッセージ*/
.dialog-message {
 font-size: 32px;  /* フォントサイズを大きくする */
  margin-bottom: 40px;  /* 下のマージンを増やして、閉じるボタンとの間隔を広げる */
  font-weight: bold;  /* テキストを太字にして目立たせる */
   color: #333; /* テキストの色を少し濃くする */
}

/*閉じるボタン*/
.close-button {
 background-color: rgb(128, 128, 128); /* ボタンの色を変更 */
  color: white;
  padding: 12px 24px; /* パディングを増やしてボタンを大きくする */
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px; /* 下端からの距離を増やす */
  right: 20px; /* 右端からの距離を増やす */
  border-radius: 4px; /* ボタンの角を丸くする */
  font-size: 16px; /* フォントサイズを大きくする */
  transition: background-color 0.3s; /* ホバー効果のためのトランジション */

}

/*ダイアログ(ほしいものリスト)*/
.wdialog {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.wdialog-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 500px;
  text-align: center;
  position: relative;
  border-radius: 8px; /* 角を少し丸くする */
   box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* シャドウを追加してより目立たせる */
}

/*ダイアログメッセージ*/
.wdialog-message {
 font-size: 32px;  /* フォントサイズを大きくする */
  margin-bottom: 40px;  /* 下のマージンを増やして、閉じるボタンとの間隔を広げる */
  font-weight: bold;  /* テキストを太字にして目立たせる */
   color: #333; /* テキストの色を少し濃くする */
}

/*閉じるボタン*/
.wclose-button {
 background-color: rgb(128, 128, 128); /* ボタンの色を変更 */
  color: white;
  padding: 12px 24px; /* パディングを増やしてボタンを大きくする */
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px; /* 下端からの距離を増やす */
  right: 20px; /* 右端からの距離を増やす */
  border-radius: 4px; /* ボタンの角を丸くする */
  font-size: 16px; /* フォントサイズを大きくする */
  transition: background-color 0.3s; /* ホバー効果のためのトランジション */

}