<!DOCTYPE html>
<!-- 管理者ログイン-->
<!-- @date 2025/01/08-->
<!-- @member 髙田-->
<html　lang="ja">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/Admin.css}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>admin-login</title>
</head>
<body>
	<form action="/admin/adminLogout" method="post">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
			        <button type="submit">ログアウト</button>
			    </form>
	<header class="header">				
				<div class="book-container">
					<p class="book">Book Super Market</p>
				</div>
			</header>
			  <div class="login-container">
	<h1>管理者ログイン</h1>
	    <form action="/admin/authenticate" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	        <label for="username">ユーザー名:</label>
	        <input type="text" id="username" name="username" required>
	        <br>
	        <label for="password">パスワード:</label>
	        <input type="password" id="password" name="password" required>
	        <br>
	        <button class="loginbutton" type="submit">ログイン</button>
	    </form>
	    <a href="register.html">新規登録はこちら</a>
</body>
</html>