<!DOCTYPE html>
<!-- 管理者トップページ-->
<!-- @date 2025/01/14-->
<!-- @member 小野-->
<html>
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/Admin.css}">
	<meta charset="UTF-8">
	<title>管理者トップページ</title>
</head>
<body>
	<header class="header">
		<div class="book-container">
			<p class="book">Book Super Market</p>
		</div>
	</header>
	
			  
	<h1 class="management-menu">管理Menu</h1>
	<div class="top-button-container">
	    <a href="/order-management"  class="top-button" >発注管理</a>
	    <a href="/order-history-admin" class="top-button">発注履歴</a>
	</div><br>
	<div class="top-button-container">
	    <a href="/inventory" class="top-button">在庫管理</a>
	    <a href="/sales" class="top-button">売上管理</a>
	</div>
					
		<br>

		
		  <button class="top-logout-button" onclick="logout()">ログアウト</button>
		
		<script src="js/admin.js"></script>

		<script>
		function logout() {
			 // ここでログアウト処理を行う
			 // 例: セッションのクリア、サーバーへのログアウトリクエストなど
					            
			alert("ログアウトしました。");
					            
			// ログイン画面へリダイレクト
			 window.location.href = "admin-login.html";  // login.htmlはログイン画面のファイル名に置き換えてください
					        }
		</script>


</body>
</html>