<!DOCTYPE html>
<!-- 発注履歴画面-->
<!-- @date 2025/01/08-->
<!-- @member 髙田-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/Admin.css}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>発注履歴画面</title>
</head>
<body>
	<header class="header">
			<div class="book-container">
				<p class="book">Book Super Market</p>
			</div>
		</header>
			<div class="button-container">
				<a href="/admin_top" class="button">トップページ</a>		        
				<a href="/order-management" class="button">発注管理</a>
				<a href="/order-history-admin" class="button">発注履歴</a>
				<a href="/inventory" class="button">在庫管理</a>
				<a href="/sales" class="button">売上管理</a>
			</div>
			<br>
													
			<form class="serchform" th:action="@{/inventory}" method="get">
				
			<input class="serchword" type="text" name="searchTerm" th:value="${searchTerm}" placeholder="商品コードまたは商品名で検索">
				<button class="serchbutton" type="submit">検索</button>
			</form><br>
						<h2>商品発注履歴</h2>
					<table class="inventoryTable">
						<thead>
						<tr>
							<th>日付</th>
							<th>商品コード</th>
							<th>発注数</th>
							<th>発注先コード</th>
							<th>発注者コード</th>
						</tr>  
														                
														            
						</thead>
						<tbody>
							<tr th:each="order : ${orders}">
								<td th:text="${#dates.format(order.buyDate, 'yyyy-MM-dd')}"></td>
								<td th:text="${order.itemId}"></td>
								<td th:text="${order.buynum}"></td>
								<td th:text="${order.purchaseNum}"></td>
								<td th:text="${order.adminId}"></td>
							</tr>
						</tbody>
					</table>
					
					<script src="js/admin.js"></script>
</body>
</html>