<!DOCTYPE html>
<!-- 商品発注画面-->
<!-- @date 2025/01/08-->
<!-- @member 髙田-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/Admin.css}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>商品発注画面</title>
</head>
<body>
	<header class="header">
			<div class="book-container">
				<p class="book">Book Super Market</p>
			</div>
		</header>
			<div class="button-container">
				<a href="/admin_top" class="button">トップページ</a>		        
				<a href="/order-management" class="button">発注管理</a>
				<a href="/order-history-admin" class="button">発注履歴</a>
				<a href="/inventory" class="button">在庫管理</a>
				<a href="/sales" class="button">売上管理</a>
			</div>
			<br>
													
			<form th:action="@{/inventory}" method="get">
				<input type="text" name="searchTerm" th:value="${searchTerm}" placeholder="商品コードまたは商品名で検索">
				<button type="submit">検索</button>
			</form>			<br>
				<h2>商品発注</h2>
					<table class="inventoryTable">
						<thead>
						<tr>
							<th>商品コード</th>
							<th>商品名</th>
							<th>原価（単位：円）</th>
							<th>在庫数（単位：冊）</th>
							<th>発注先</th>
							<th>発注数</th>
						</tr>  
														                
														            
						</thead>
						<tbody>
								<tr th:each="ordermanage, stat : ${ordermanage}">
								<td th:text="${ordermanage.itemId}"></td>
								<td th:text="${ordermanage.itemName}"></td>
								<td th:text="${ordermanage.purprice}"></td>
								<td th:text="${ordermanage.stock}"></td>
								<td th:text="${ordermanage.purchaseno}"></td>
								<td>
								    <input type="number" th:id="'buynum' + ${stat.index}" name="buynum" min="0">
								</td>
							</tr>
						</tbody>
					</table><br>
					<button id="updateButton" type="button">発注</button>
					
					<script src="js/admin.js"></script>
													
			</body>
			</html>