<!DOCTYPE html>
<!-- 管理者ログイン-->
<!-- @date 2025/01/08-->
<!-- @member 髙田-->
<html　lang="ja">
<head>
	<link rel="stylesheet" href="C:/Users/3031023/git/teamproduction/BookStore/src/main/resources/static/css/Admin.css" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
	<header class="header">				
				<div class="book-container">
					<p class="book">Book Super Market</p>
				</div>
			</header>
			  <div class="content-container">
	<h1>管理者ログイン</h1>
	    <form action="/login" method="post">
	        <label for="username">ユーザー名:</label>
	        <input type="text" id="username" name="username" required>
	        <br>
	        <label for="password">パスワード:</label>
	        <input type="password" id="password" name="password" required>
	        <br>
	        <button type="submit">ログイン</button>
	    </form>
	    <a href="register.html">新規登録はこちら</a>
</body>
</html>