<!DOCTYPE html>
<!-- 在庫確認画面-->
<!-- @date 2025/01/08-->
<!-- @member 髙田-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/Admin.css}">
<!--	<link rel="stylesheet" href="/static/css/Admin.css" type="text/css">-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>在庫管理画面</title>
	
</head>
<body>
	<header class="header">
		<div class="book-container">
			<p class="book">Book Super Market</p>
		</div>
	</header>
	<br>
	<div class="button-container">
	    <a href="/admin_top" class="button">トップページ</a>		        
	    <a href="/order-management" class="button">発注管理</a>
	    <a href="/order-history-admin" class="button">発注履歴</a>
		<a href="/inventory" class="button" >在庫管理</a>
	    <a href="/sales" class="button">売上管理</a>
	</div>

		<br>
										
			<form class="serchform" th:action="@{/inventory}" method="get">
				
            <input class="serchword" type="text" name="searchTerm" th:value="${searchTerm}" placeholder="商品コードまたは商品名で検索">
    			<button class="serchbutton" type="submit">検索</button>
			</form>
			<script>searchTerm = new Number(null); </script> 
		<br>
		
	
<!--検索結果を表示-->
	<h2>商品在庫</h2>

<!--一覧画面を直接修正できるかテスト-->
<table class="inventoryTable">
    <thead>
        <tr>
			<th><input type="checkbox" id="selectAll">削除</th>
            <th>商品コード</th>
            <th>商品名</th>
            <th>カテゴリー</th>
			<th th:utext="${#strings.replace('原価（単位：円）', '（', '<br>（')}"></th>
            <th th:utext="${#strings.replace('売価（単位：円）', '（', '<br>（')}"></th>
			<th>商品情報</th>
            <th th:utext="${#strings.replace('在庫数（単位：円）', '（', '<br>（')}"></th>
            <th>発注先</th>
            <th>画像</th>
			
        </tr>
    </thead>
    <tbody>
        <tr th:each="inventory : ${item}">
			<th><input type="checkbox" id="selectAll"></th>
            <td class="itemID" th:text="${inventory.itemId}" contenteditable="false"></td><!--商品IDは変更不可-->
            <td class="itemName" th:text="${inventory.itemName}" contenteditable="true"></td>
            <td class="category" th:text="${inventory.category}" contenteditable="true"></td>
            <td class="purprice" th:text="${inventory.purprice}" contenteditable="true"></td>
            <td class="saleprice" th:text="${inventory.saleprice}" contenteditable="true"></td>
            <td class="iteminfo" th:text="${inventory.iteminfo}" contenteditable="true"></td>
            <td class="stock" th:text="${inventory.stock}" contenteditable="true"></td>
            <td class="purchaseno" th:text="${inventory.purchaseno}" contenteditable="true"></td>
			<td class="image">
				<div style="display: flex; flex-direction: column; align-items: center;">
				  <img th:src="${inventory.imageaddress}" alt="商品画像" style="max-width: 100px; max-height: 100px; margin-bottom: 10px;">
				  <input type="file" th:id="'file_' + ${inventory.itemId}" name="file" style="display: none;">
				  <label th:for="'file_' + ${inventory.itemId}" class="custom-file-upload">画像を変更</label>
				</div>

			</td>


			</td>
        </tr>
    </tbody>
</table>

<button class="updatebutton" onclick="updateInventory()">修正・削除</button><br><br><br>


				

					
		<!--新商品登録フォーム	  -->
					  
		<div class="newitemform-container">
			<h3>商品の新規登録</h3>
				<form action="#" method="post" enctype="multipart/form-data">
					 <div class="form-group">
					      <label for="item_name">商品名:</label>
					      <input type="text" id="item_name" name="item_name[]" required>
					 </div>

					  <div class="form-group">
					      <label for="category">カテゴリーID:</label>
					      <input type="number" id="category_id" name="category[]" required min="0" step="1">
					  </div>

					  <div class="form-group">
					      <label for="item_purprice">原価（単位：円）:</label>
					      <input type="number" id="item_purprice" name="item_purprice[]" required min="0" step="1">
					   </div>

					   <div class="form-group">
					      <label for="item_saleprice">売価（単位：円）:</label>
					      <input type="number" id="item_saleprice" name="item_saleprice[]" required min="0" step="1">
					   </div>

					   <div class="form-group">
					      <label for="iteminfo">商品情報:</label>
					      <textarea id="iteminfo" name="iteminfo[]" rows="10" cols="50" required></textarea>
					   </div>

					   <div class="form-group">
					      <label for="purchaseno">発注先ID:</label>
					      <input type="number" id="purchaseno_id" name="purchaseno[]" required min="0" step="1">
					   </div>

					   <div class="form-group">
					      <label for="imageaddress">画像:</label>
					      <input type="file" id="imageaddress" name="imageaddress[]" accept="image/*">
					   </div><br>

					    <button type="submit">登録</button>
					  </form>

					</div>
				  


				  <script src="admin.js"></script>			  	
</body>
</html>