<!DOCTYPE html>
<!-- 商品発注画面-->
<!-- @date 2025/01/08-->
<!-- @member 髙田-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>発注管理画面</title>
</head>
<body>

<header class="header">				
					<div class="book-container">
						<p class="book">Book Super Market</p>
					</div>
	</header>
				  <div class="button-container">
						<a href="admin-top.html" class="button">トップページ</a>		        
						<a href="inventory.html" class="button">在庫管理</a>
											<a href="product-managemanet.html" class="button">商品管理</a>
									        
									        <a href="order-management.html" class="button">発注管理</a>
									        <a href="order-history-admin.html" class="button">発注履歴</a>
									    </div>
										<br>
										
										<form action="/search" method="get">
										  <input type="search" name="q" placeholder="検索キーワードを入力">
										  <input type="submit" value="検索">
										</form>
										<br>
										
										<h2>商品発注</h2>
										<table border="1"  width="100%">
											        <thead>
											            <tr>
															
											                <th>商品コード</th>
											                <th>商品名</th>
											                <th>発注元</th>
											                <th>原価（単位：円）</th>
											                <th>在庫数（単位：冊）</th>
															</tr>  
											                
											            
											        </thead>
											        <tbody>
											            <tr th:each="order : ${orders}">
															
											                <td th:text="${order.itemId}"></td>
											                <td th:text="${order.itemName}"></td>
											                <td th:text="${order.Purchase}"></td>
											                <td th:text="${order.itemCost}"></td>
											                <td th:text="${order.stock}"></td>
											            </tr>
											        </tbody>
											    </table>
										
</body>
</html>