<!DOCTYPE html>
<!-- 発注履歴画面-->
<!-- @date 2025/01/08-->
<!-- @member 髙田-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/Admin.css}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>発注履歴画面</title>
</head>
<body>
	<header class="header">
			<div class="book-container">
				<p class="book">Book Super Market</p>
			</div>
		</header>
		<div class="button-container">
		    <a href="/admin-top" class="button">トップページ</a>		        
		    <a href="/order-management" class="button">発注管理</a>
		    <a href="/order-history-admin" class="button">発注履歴</a>
		    <a href="/inventory" class="button">在庫管理</a>
		    <a href="/sales" class="button">売上管理</a>
		</div>

			<br>
													
			<form action="/search" method="get">
					<input type="search" name="q" placeholder="検索キーワードを入力">
					<input type="submit" value="検索">
			</form>
			<br>
			<h2>商品発注</h2>
					<table border="1"  width="100%">
						<thead>
						<tr>
							<th>日付</th>
							<th>商品コード</th>
							<th>商品名</th>
							<th>発注数</th>
							<th>原価（単位：円）</th>
							<th>発注者</th>
						</tr>  
														                
														            
						</thead>
						<tbody>
							<tr th:each="order : ${orders}">
								<td th:text="${order.date}"></td>
								<td th:text="${order.itemId}"></td>
								<td th:text="${order.itemName}"></td>
								<td th:text="${order.num}"></td>
								<td th:text="${order.itemCost}"></td>
								<td th:text="${order.orderer}"></td>
							</tr>
						</tbody>
					</table>
</body>
</html>