<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.user.repository.CartInfoMapper">

	<!-- ユーザーidを参照してカートに追加されている商品をアイテムidから参照してDBから指定する処理 -->
	<resultMap id = "CartInfoMap" type="com.example.demo.user.entity.CartInfo">
		<result column="num"       jdbcType="INTEGER"   property="num"       />
		<result column="user_id"   jdbcType="INTEGER"   property="userId"    />
		<result column="item_id"   jdbcType="INTEGER"   property="itemId"    />
		<result column="item_name" jdbcType="VARCHAR" property="itemName" />
		<result column="quantity"  jdbcType="INTEGER"   property="quantity"  />
		<association property="itemIdDetails" javaType="com.example.demo.user.entity.ItemId">
            <result property="itemSaleprice" column="item_saleprice" />
            <result property="imageAddress" column="imageaddress" />
        </association>
	</resultMap>
	
	<select id="findById" resultMap="CartInfoMap">
	SELECT
	c.num AS num, 
	c.user_id AS user_id, 
	c.item_id AS item_id, 
	c.item_name AS item_name, 
	c.quantity AS quantity, 
	i.item_saleprice AS item_saleprice, 
	i.imageaddress AS imageaddress 
	FROM cartinfo AS c
	LEFT JOIN item_id AS i ON c.item_id = i.item_id
	WHERE c.user_id = #{userId}
	ORDER BY c.num;

	</select>
	
<!--	 カート内情報に登録されている商品をカートに登録した順番に全件表示するSQL文-->
<!--	<select id = "selectAll" resultMap="CartInfoMap">-->
<!--		select * from cartinfo order by num asc-->
<!--	</select>-->
	
<!--	<select id = "selectById" resultMap="CartInfoMap">-->
<!--		select * from cartinfo where id = #{id} order by num asc-->
<!--	</select>-->
	
<!-- ユーザーIDに基づいてカート情報を取得するSQL文 -->
	<select id="cartById" resultMap="CartInfoMap">
		select * from cartinfo where user_id = #{userId} order by num asc
	</select>
	
<!--	 カートに商品を追加するSQL文-->
<!--	<insert id = "cartInsert">-->
<!--		insert into cartinfo (user_id,item_id,item_name,quantity) -->
<!--			values (#{userId}, #{itemId}, #{itemName}, #{quantity})-->
<!--	</insert>-->
	
<!-- カートに商品を追加するSQL文（CartDtoを使用）-->
	<insert id="addToCart">
		insert into cartinfo (user_id, item_id, item_name, quantity)
		values (#{userId}, #{itemId}, #{cartDto.itemName}, #{cartDto.quantity})
	</insert>
	
<!-- カート内の商品数量を更新するSQL文 -->
	<update id="updateItemQuantity">
		update cartinfo set quantity = #{cartDto.quantity}
		where user_id = #{userId} and item_id = #{itemId}
	</update>
	
	<!-- カートから商品を削除するSQL文-->
	<delete id = "deleteItemCart">
		delete from cartinfo where item_id = #{itemId} and user_id = #{userId} 
	</delete>

</mapper>