<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.user.repository.CommentMapper">

	<resultMap id = "CommentMap" type="com.example.demo.user.entity.Comment">
		<result column="num"       jdbcType="INTEGER"   property="num"       />
		<result column="item_id"   jdbcType="INTEGER"   property="itemId"    />
		<result column="item_name" jdbcType="VARCHAR"   property="itemName" />
		<result column="user_id"   jdbcType="INTEGER"   property="userId"    />
		<result column="date"      jdbcType="TIMESTAMP"      property="date"    />
		<result column="review"    jdbcType="VARCHAR"   property="review"  />
		
	</resultMap>
	
	<select id = "selectAll" resultMap="CommentMap">
		select * from comment order by num desc
	</select>
	
<select id = "selectById" parameterType="integer" resultMap="CommentMap">
        select * from comment where item_id = #{itemId} order by num desc
    </select>

<insert id = "saveReview" parameterType="map">
        insert into comment (item_id, item_name, user_id, date, review)
        values (#{comment.itemId}, #{comment.itemName}, #{userId}, #{comment.date}, #{comment.review})
    </insert>
    
</mapper>