<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.user.repository.ItemIdMapper">

	<resultMap id="ItemIdMap" type="com.example.demo.user.entity.ItemId">
		<result column="item_id"        jdbcType="INTEGER" property="itemId"        />
		<result column="item_name"      jdbcType="VARCHAR" property="itemName"      />
		<result column="category_name"  jdbcType="VARCHAR" property="categoryName"  />
		<result column="item_purprice"  jdbcType="INTEGER" property="itemPurprice"  />
		<result column="item_saleprice" jdbcType="INTEGER" property="itemSaleprice" />
		<result column="iteminfo"       jdbcType="VARCHAR" property="iteminfo"      />
		<result column="stock"          jdbcType="INTEGER" property="stock"         />
		<result column="purchaseno"     jdbcType="VARCHAR" property="purchaseno"    />
		<result column="imageAddress"   jdbcType="VARCHAR" property="imageAddress"  />
	</resultMap>

	<select id="selectAll" resultMap="ItemIdMap">
		select * from item_id order by item_id asc
	</select>
	
<select id="search" parameterType="string" resultMap="ItemIdMap">
    	SELECT * FROM item_id WHERE item_name LIKE CONCAT('%', #{query}, '%')
  	</select>

<select id="searchCategory" parameterType="string" resultMap="ItemIdMap">
    	SELECT * FROM item_id WHERE category_name = #{categoryName}
  	</select>

<select id="searchById" parameterType="integer" resultMap="ItemIdMap">
    	SELECT * FROM item_id WHERE item_id = #{itemId}
  	</select>
	
<!--	<select id = "selectKeyWord" resultMap="ItemIdMap">-->
<!--		select * from item_id where item_name like concat('%', #{word}, '%') -->
<!--		or category_name like concat('%', #{word}, '%')-->
<!--		or iteminfo like concat('%', #{word}, '%') order by item_id asc-->
<!--	</select>-->
	
<!--	<update id = "updataItemStock">-->
<!--		update item_id set stock = #{stock} where item_id = #{itemId}-->
<!--	</update>-->

</mapper>