<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.user.repository.WishlistMapper">

	<!-- ウィッシュリストをユーザーIDとウィッシュリストIDとアイテムIDから参照して指定する処理 -->
	<resultMap id = "WishlistMap" type="com.example.demo.user.entity.Wishlist">
		<result column="wishlistno"  jdbcType="INTEGER"   property="wishListNo" />
		<result column="item_id"     jdbcType="INTEGER"   property="itemId"     />
		<result column="item_name"   jdbcType="VARCHAR"   property="itemName"   />
		<result column="user_id"     jdbcType="INTEGER"   property="userId"     />
		
	</resultMap>
	<!-- wishlistテーブルからアイテムIDを昇順に選択するSQL文 -->
	<select id = "selectAll" resultMap="WishlistMap">
		select * from wishlist order by item_id asc
	</select>
	
	
</mapper>